/* Graphic Design Page CSS*/
.footer {
text-align: center;
}
body {
background-color: #FAFAFA;
}
p,
.descriptions {
font-family: 'oswald', serif;
letter-spacing: 0.05em;
font-size: 18px;
list-style-type: none;
float: center;
margin-left: auto;
margin-right: auto;
}
.navigation {
font-size: 18px;
text-shadow: 2px 2px 8px #CF0053;
position: fixed;
background-color:#FAFAFA;
width: 100%;
-webkit-font-smoothing: antialiased;
height: 60px;
margin-top: -32.5px;
border-bottom: 3px solid #FFB3FF;
}
.navigation li {
color: black;
font-family: 'Oswald';
font-size: 18px;
display: inline;
width: 100%;
float: center;
padding: 0px 10px;
}
.navigation a:link {
color: black;
text-decoration: none;
}
.navigation a:hover {
color: white;
text-decoration: none;
}
.navigation a:visited {
color: black;
text-decoration: none;
}
.projects,
.contact-info {
max-width: 38em;
margin-left: 100px;
margin-right: 200px;
margin-top: 1em;
letter-spacing: 0.05em;
}
.web-projects-title {
  margin-left: 30%;
}
h2, h1 {
color: #0099FF;
font-family: 'Lobster Two', cursive;
}
.footer {
border-radius: 5px 5px 15px 20px;
box-shadow: 6px 6px 2px #C8C8C8;
background-size: 900px;
background-position: cover;
background-repeat: no-repeat;
background-color: #232022;
color: white;
padding: 18px 0;
letter-spacing: 0.0em;
margin-top: 100px;
}
.linkme {
font-size: 30px;
font-family: 'Lobster Two', cursive;
}
.sociallinks {
font-family: 'Oswald', sans-serif;
font-size: 20px;
}
.sociallinks ul {
padding:0px;
}
.sociallinks li {
list-style-type: none;
display: inline-block;
}
.footer .sociallinks a:link {
color: #FFB3FF;
text-decoration: none;
}
.footer .sociallinks a:hover {
color: white;
text-decoration: none;
}
.footer .sociallinks a:visited {
color: #FF9900;
text-decoration: none;
}
@media only screen and (max-width: 500px) {
    .mastheader {
      padding: 2em 0;
    }
    .masthead-heading {
      font-size: 2em;
    }
    .footer {
      padding: 1em 0;
    }
    .sociallinks, p, .linkme, .cover{
      font-size: .8em;
    }
    .moreaboutme,
    .projects, .job-title,
    .bit-about-me,
    .info, .web-header {
      font-size: 1em;
      padding: 1em 5px;
    }
    .navigation {
      padding: 15px 5px;
      font-size: .01em;
    }
    .mesa,
    .love,
    .neverfails,
    .third-place,
    .lovecoding {
      font-size: 1.5em;
      padding: 1em 5px;
    }
  }
}
.projects-done {
font-size: 500px !important;
font-family: 'Lobster Two', cursive;
text-align: center;
width: 50%;
margin: 0 auto;
}
.NYTimes {
width: 130%;
margin-bottom: 20px;
}
.karma-clone {
width: 70%;
margin-bottom: 20px;
}
.popup {
width: 90%;
margin-bottom: 20px;
}
.ipzmall-main-banners {
width: 150%;
margin-bottom: 20px;
margin-left: auto;
margin-right: 400px;
display: block;
}
.ads-banners {
  width: 30%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 200px;
}
.half-ads {
  width: 50%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 200px;
}
.copyright {
  font-size: 10px;
}
#home {
  font-size:18px ;
  text-shadow: 2px 2px 8px #CF0053;
  font-color: #232022;
  margin-top: -5px;
}
.navigation .home-icon {
  width: 29px;
  margin-top: 2px;
}
.content {
  margin-bottom: 300px;
}
.nothing {
  color: #FAFAFA;

.slider {
  width: 400px; height: 300px;
  overflow: hidden;
}
  .slider > ul {
    /* styled by JS to match the added width and height of all <li>’s */
    position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
 
    list-style: none;
    margin: 0; padding: 0;
  }
    .slider > ul > li {
      float: left;
      width: 400px; height: 300px;
    }
